* {
    box-sizing: border-box;
}

body {
    background-image: url(http://paper5pc.com/images/rock-paper-scissors-wallpaper-1.jpg);
    height:100vh;
    width: 100%;
}

h1 {
    font-family: 'Dokdo', cursive;
    font-size: 70px;
}

h2 {
    text-decoration: underline;
    font-size: 35px;
    font-family: 'Fresca', sans-serif;
}

h3 {
    font-family: 'Fresca', sans-serif;
}

.stats-1 {
    font-family: 'Fresca', sans-serif;
    font-size: 25px;
}

.stats-2 {
    font-family: 'Fresca', sans-serif;
    font-size: 25px;
}

.player1-btn {
    font-family: 'Fresca', sans-serif;
}

.player2-btn {
    font-family: 'Fresca', sans-serif;
}

#send-message {
    font-family: 'Fresca', sans-serif;
    font-size: 20px;
}

.submit-message {
    font-family: 'Fresca', sans-serif;
}

.message-host {
    background-color: white;
    padding:10px;
    border-radius: 20%;
}

#messages {
    text-decoration: underline;
    font-family: 'Fresca', sans-serif;
    font-size: 20px;
    color:rgb(110, 190, 236);
}

.fade-in {
    -webkit-animation: fadein 2s;
}

.fade-none {
    display:none;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}